<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<th:block th:fragment="headerFragment">
    <header class="header">
        <div style="float: left;">
            <a class="header--logo" href="/" style="width: auto; height: 47px;">
                <h4>맛집위키</h4>
            </a>
        </div>
        <div style="float: right;">
            <button>검색</button>
        </div>


    </header>

    <script th:src="@{/js/header.js}"></script>
</th:block>
</body>
</html>