<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/search.css}" rel="stylesheet">
</head>
<body>
    <th:block layout:fragment="mainContent">
        <nav class="header">
            <a href="javascript:history.back();">
                <img class="backIcon" src="/img/icon/back.png">
            </a>
            <div class="searchDiv">
                <img src="/img/icon/search.png">
                <input class="searchInput" placeholder="가게 이름을 입력해주세요.">
            </div>
        </nav>

        <div class="container">
            <span>검색</span>
        </div>


</body>
</html>