<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>로그인</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body style="background-color: lightblue;">
    <div class="container">
        <form class="form" id="loginForm" action="/login" method="post">
            <div class="title" style="display: flex;">
                <div style="flex: 1;"></div>
                <div style="flex: 1;">LOGIN</div>
                <div style="flex: 1;">🏠</div>
            </div>
            <input class="input" id="username" name="username" placeholder="Email" type="email">
            <input class="input" id="password" name="password" placeholder="Password" type="password">
            <div>
                <a href="/oauth2/authorization/google">구글 로그인</a>
                <a href="/oauth2/authorization/kakao">카카오 로그인</a>
            </div>
            <div>
                <span id="signupBtn">회원가입</span>
            </div>
            <button class="button-confirm">Let`s go →</button>
        </form>
    </div>

    <script th:src="@{/js/login.js}"></script>

</body>
</html>