<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>회원가입</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body style="background-color: lightblue;">
    <div class="container">
        <form class="form" id="signupForm">
            <div class="title" style="display: flex;">
                <div style="flex: 1;"></div>
                <div style="flex: 1;">SIGN UP</div>
                <div style="flex: 1;">🏠</div>
            </div>
            <input class="input" id="memberId" name="memberId" placeholder="Email" type="email">
            <input class="input" id="memberPassword" name="memberPassword" placeholder="Password" type="password">
            <input class="input" id="memberNickname" name="memberNickname" placeholder="Nickname" type="text">
            <input type="hidden" name="role" value="member"> <!-- 기본값 설정 -->
            <button class="button-confirm" type="submit">Let`s go →</button>
        </form>
    </div>

    <script th:src="@{/js/signup.js}"></script>

</body>
</html>